*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#back{
    height: 100%;
    width: 100%;
   background-image: url(./patrick-langwallner-wiFOaBrX_wc-unsplash.jpg);
    background-size: 120%;
    
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
}

#main1{
    position: absolute;
    left: 20%;
    top: 5%;
    height: 560px;
    width: 280px;
    color: #fff;
    background-image: url(./patrick-langwallner-wiFOaBrX_wc-unsplash.jpg);
    background-size: 160%;
    box-shadow: 1px 1px 10px 1px black;
}
 #main1 #a{
      display: inline-block;
      color: rgba(255, 255, 255, 0.685);
      padding: 1px 10px;
      margin: 30px 30px;
      border-radius: 12%;
      border: 1px solid rgba(255, 255, 255, 0.527);
 }

 #hed{
     display: flex;
 }
  
 #hed1 h4{
     font-family: montserrat;
     font-size: 20px ;
     margin-left: 30px;
     font-weight: 400;
 }

 #hed1 p{
    font-family: montserrat;
    font-size: 10px ;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 2;
}

#hed2{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1521038199265-bc482db0f923?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    background-position: center;
    background-size: cover;
    margin-left: 19px;
}

#botm{
    position: absolute;
    bottom: 15%;
    font-family: montserrat;
}

#botm h1{
    font-size: 50px;
    margin-left: 30px;
    font-weight: 700;
}

#botm h4{
    font-size: 25px;
    margin-left:  30px;
    margin-bottom: 10px;
    font-weight: 600;
}

#botm p{
    font-size: 10px;
    font-weight: 300;
    margin-left: 30px;
    line-height: 1.7;
    margin-bottom: 20px;
}

#str{
  display: flex;
  position: absolute;
  bottom: 15%;
  font-size: 10px;
  margin-left: 30px;
  font-family: montserrat;
}

#il{
    opacity: .5;
}

#q{
    margin-left: 5px;
    font-weight: 400;
}

#w{
    font-size: 6px;
    margin-left: 26px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: -11%;
}
#bl{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

#bl p{
    font-family: montserrat;
    margin-top: 5px;
    font-size: 10px;
}

#lin{
    position: absolute;
    bottom: 34%;
    left: 40%;
    height: 1px;
    border-radius: 5%;
    width: 60px;
    background-color: rgba(214, 214, 214, 0.479);
}

#lin1{
    height: 1px;
    width: 15px;
    background-color: #fff;
}

#main2{
    position: absolute;
    left: 50%;
    top: 5%;
    height: 560px;
    width: 280px;
    color: #fff;
    background-image: url(./patrick-langwallner-wiFOaBrX_wc-unsplash.jpg);
    box-shadow: 1px 1px 10px 1px black;
    background-size: 190%;
}

#img{
    height: 200px;
    width: 280px;
    background-image: url(./justin-kauffman-a8lTjWJJgLA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#imgover{
    height: 200px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.486);

}
#j{
    position: absolute;
    top: 19px;
    left: 5px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.664);
    font-size: 30px;
    
}

#over{
    position: absolute;
    top: 25%;
    left: 6%;
    border-radius: 2%;
    height: 290px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.555);
}

#top{
    display: flex;
    justify-content: space-between;
    font-family: montserrat;
    margin: 20px 18px;
}

#top h4{
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.637);
}

#top h5{
    margin-top: 5px;
    margin-right: 30px;
    font-size: 15px;
}

#se{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(59, 23, 145);
}

#ku{
    position: absolute;
    top: 45px;
    left: 80px;
    font-family: montserrat;
    font-size: 7px;
}

.pic{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 20px;
}

#pic1{
    height: 45px;
    width: 45px;
    border-radius: 9%;
    background-image: url(https://images.unsplash.com/photo-1528265417219-1a288ae08573?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
}

#pic2{
    height: 45px;
    width: 45px;
    border-radius: 9%;
    background-image: url(./mahmud-ahsan-QqPcxfFKqfU-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#pic3{
    height: 45px;
    width: 45px;
    border-radius: 9%;
    background-image: url(./pahala-basuki-z3NhWL4O39Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#pic4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    font-weight: 600;
    font-family: montserrat;
    font-size: 16px;
    border-radius: 9%;
    background-color: rgba(228, 224, 224, 0.151);
}

#hr{
    font-family: montserrat;
    font-size: 10px;
    margin: 35px 10px;
}

#long{
    height: 1px;
    width: 230px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.308);
}

#str2{
    display: flex;
    position: absolute;
    bottom: 25%;
    font-size: 10px;
    margin-left: 12px;
    font-family: montserrat;
  }
  
  #il{
      opacity: .3;
  }
  
  #qp{
      margin-left: 5px;
      font-weight: 400;
  }
  
  #wr{
      font-size: 6px;
      margin-left: 26px;
      letter-spacing: 1px;
      font-weight: 300;
      margin-top: -10%;
  }

 #por{
     display: flex;
     align-items: center;
     margin-left: 10px;
     margin-top: 40px;
     font-family: montserrat;
 }

  #port1{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
      background-image: url(https://images.unsplash.com/photo-1612370967998-29d1cae44ad7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
      background-position: center;
      background-size: cover;
  }

  #port2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1590834769514-19405b9d7fd5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2024&q=80);
    background-position: center;
    background-size: cover;
}

#por p{
     margin-left: 10px;
    font-size: 10px;
    padding: 3px 9px;
    border-radius: 12% ;
    background-color: rgba(255, 255, 255, 0.144);
}

#por h4{
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
}

#kuta{
    position: absolute;
    font-family: montserrat;
    bottom: 4%;
    left: 17px;
}

#kuta h4{
    font-size: 18px;
    font-weight: 600;
}

#kuta p{
    font-size: 7px;
    margin-top: 10px;
    line-height: 2.5;
}

#lastr{
    position: absolute;
    display: flex;
    bottom: 7%;
    left: 12%;
    
}

#g{
    border-radius: 50px;
    height: 35px;
    border: none;
    margin-right: 30px;
    color: #fff;
    font-family: montserrat;
    font-size: 8px;
    background-color: rgb(7, 26, 7);
    width: 90px;
    box-shadow: 2px 20px 20px 20px rgba(0, 0, 0, 0.61);
}

#v{
    border-radius: 50px;
    height: 35px;
    border: none;
    margin-right: 30px;
    font-family: montserrat;
    font-size: 7px;
    font-weight: 600;
    width: 90px;
    box-shadow: 2px 2px 20px 10px black;
}