*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    padding: 30px 40px;
    height: 100%;
    width: 100%;
    background-color: #ebebebfd;
}

#left{
    position: relative;
    width: 16%;
    height: 100%;
    background-color: rgba(19, 11, 126, 0.836);
    border-radius: 15px;
    box-shadow: 0px 20px 20px rgba(5, 16, 112, 0.39);
   margin-left: 100px;
}

#nam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#nam h1{
    font-size: 16px;
    color: #dadada;
    font-family: montserrat;
}
#left #ditel{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
}
#ditel h4{
    margin: 0px 10px;
    color: rgba(208, 197, 255, 0.884);
    font-family: graphik regular;
    font-size: 13px;
}

#ditel i{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height: 20px;
    background-color: rgb(119, 140, 255);
    color: white;
    border-radius: 2px;
    
}

#ditel #pic{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url(https://images.unsplash.com/photo-1499155286265-79a9dc9c6380?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=631&q=80);
    background-position: center;
    background-size: cover;
}

#link h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: graphik regular;
    font-size: 10px;
    color: rgb(190, 219, 255);
    margin-bottom: 35px;
}
#co{
    position: absolute;
    left: 60px;
    top: 22%;
    font-size: 5px;
    font-family: graphik regular;
    color: rgba(101, 221, 101, 0.822);
    letter-spacing: 0px;
}
#top{
    margin-top: 30px;
}
#link i{
    padding: 0px 20px;
    color: #dadada;
    font-size: 13px;
}

#right{
    width: 60%;
    height: 100%;
    background-color:rgba(221, 221, 221, 0.473);
    box-shadow: 20px 50px 900px 50px rgba(65, 65, 65, 0.301);
    padding: 0px 40px;
    margin-left: 27px;
    border-radius: 6px;
}
#right p{
    margin-top: 30px;
    font-family: graphik  regular;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.438);
}
#right h4{
    margin-top: 10px;
    font-family: graphik  regular;
    font-size: 15px;
    color: rgb(21, 3, 49);
}
#right #row1{
    position: relative;
    height: 176px;
    width: 160px;
    margin-top: 30px;
    background-color: rgba(235, 196, 196, 0.281);
    border-radius: 10px;
}
#row1 #pic1{
    position: absolute;
    height: 88px;
    width: 140px;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    display: block;
    background-image: url(./vippng.com-analytics-icon-png-2174447.png);
    background-position: center;
    background-size: cover;
}
 #updt{
    position: absolute;
    top: 60%;
    left: 10%;
    height: 70px;

}
 #row1 #updt p{
    position: absolute;
    top: 0%;
    color: rgba(11, 10, 58, 0.541);
    font-size: 10px;
 }
#updt i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(25, 6, 231, 0.212);
    margin: -9px 105px;
    background-color: rgba(19, 26, 126, 0.808);
    border-radius: 9px;
}
#box{
    position: absolute;
    height: 176px;
    width: 160px;
    left: 120%;
    border-radius: 10px;
}

#navi{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 12%;
    height: 90px;
    top: 11%;
    left: 61%;
}
#right #navi i{
    color: rgba(78, 78, 78, 0.767);
}

#box #big{
    display: flex;
    align-items: initial;
    flex-direction: column;
    height: 80px;
    width: 160px;
    background-color: rgba(91, 181, 255, 0.151);
    border-radius: 10px;
}
#big #pri{
    font-family: graphik regular;
    font-size: 4px;
    padding: 20px 20px;
    color: rgba(11, 10, 95, 0.712);
}
#big #op{
    position: absolute;
    font-family: graphik regular;
    font-size: 7px;
    top: 15%;
    left: 12%;
    color: rgb(8, 7, 90);
}
#big p{
    position: absolute;
    top:4%;
    left: 12%;
    font-size: 5px;
    color: rgba(57, 55, 165, 0.699);
}
#big #com{
    position: absolute;
    top: 30%;
    left: 12%;
    font-family: graphik regular;
    font-size: 5px;
    color: rgba(14, 14, 83, 0.863);
    letter-spacing: 0.2px;
}
#big #pic2{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 60%;
    top: 20px;
    border-radius: 3px;
    background-image: url(https://freesvg.org/img/Architetto----Cartella.png);
    background-position: center;
    background-size: cover;
}
#box #sml1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    height: 75px;
    width: 75px;
    background-color: rgba(91, 181, 255, 0.151);
    border-radius: 10px;
    margin-top: 15px;
}

#sml1 #pic3{
    height: 25px;
    width: 25px;
    border-radius: 100px;
    margin-top: 14px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/186/943/original/green-play-button-png.png);
    background-size: cover;
    background-position: center;
}
#sml1 #let{
    position: absolute;
    height: 20px;
    width: 60px;
    top: 50%;
    margin-left: 14px;
}
#let h4{
    font-family: graphik regular;
    font-size: 6px;
    font-weight: bolder;
}
#let p{
    font-family: graphik regular;
    font-size: 5px;
    margin-top: 3px;
    margin-left: 6px;
}


#box #sml2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    height: 75px;
    width: 75px;
    background-color: rgba(19, 11, 126, 0.815);
    border-radius: 10px;
    margin-top: -75px;
    margin-left: 90px;
    box-shadow: 0px 20px 20px rgba(5, 16, 112, 0.39);
}

#sml2 #pic4{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    top: 20%;
    background-image: url(https://www.pngkey.com/png/full/256-2560866_events-calander-png-orange-calendar-png-icon.png);
    background-position: center;
    background-size: cover;
}
#sml2 #let1{
    position: absolute;
    height: 20px;
    width: 60px;
    top: 50%;
    margin-left: 14px;
    
}
#let1 h4{
    font-family: graphik regular;
    font-size: 6px;
    font-weight: bolder;
    color: #fff;
}
#let1 p{
    font-family: graphik regular;
    font-size: 5px;
    margin-top: 3px;
    margin-left: 3px;
    color: rgba(255, 255, 255, 0.486);
}
#box2{
    position: absolute;
    height: 176px;
    width: 160px;
    left: 240%;
    border-radius: 10px;
    background-image: url(https://pikwizard.com/photos/80fc5bcecc2cb829d47b4b42aad9362b-m.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 10px 10px rgba(183, 196, 236, 0.418);
}

#box2 #rt{
    font-family: montserrat;
    color: rgba(255, 255, 255, 0.911);
    font-weight: 600;
    font-size: 17px;
    padding: 10px 20px;
}
#box2 #yt{
    font-family: montserrat;
    color: rgba(255, 255, 255, 0.774);
    padding:0px 20px;
    margin-top: -4px;
}
#box2 #dig{
    font-family: montserrat;
    color: rgba(255, 255, 255, 0.89);
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 6px;
}
#box2 #sort{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin-left: 90px;
    border-radius: 15px 0px 15px 15px;
}
#sort #it{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.671);
    border-radius: 100px;
}
#row2{
    position: relative;
    margin-top: 34px;
    height: 210px;
    width: 100%;
    font-family: montserrat;
}
#button{
    display: flex;
    justify-content: space-between;
    width: 180px;
}
#button h5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 80px;
    background-color: rgba(123, 156, 253, 0.199);
    color: rgb(27, 8, 95);
    border-radius: 50px;
    border: 1px solid rgba(162, 181, 240, 0.603);
    margin-top: 20px;
    font-size: 6px;
    font-family: montserrat;
}

#button p{
    margin-top: 27px;
    font-size: 6px;
    font-family: montserrat;
    font-weight: 800;
    color: #8e72f173;
    margin-right: 20px;
}
.str{
    position: relative;
    height: 130px;
    width: 200px;
    margin-top: 20px;
}

#bug{
    display: flex;
    align-items: center;
    position: relative;
}
.lk{ 
    position: absolute;
    display: flex;
    left:40px;
    top: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.lk h5{
    font-size: 10px;
}
.lk h6{
    font-size: 5px;
  color: rgba(5, 26, 88, 0.521);
  font-weight: 500;
  margin-top: 2px;
}

#pic5{
      height: 30px;
      width: 30px;
      background-color: green;
      background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png);
      margin-bottom: 20px;
      border-radius: 8px;
      background-position: center;
      background-size: cover;
}

#ins{
    display: flex;
    align-items: center;
    position: relative;
} 

.lk1{ 
    position: absolute;
    display: flex;
    left:40px;
    top: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.lk1 h5{
    font-size: 10px;
}
.lk1 h6{
    font-size: 5px;
  color: rgba(5, 26, 88, 0.521);
  font-weight: 500;
  margin-top: 2px;
}

#pic6{
    height: 30px;
    width: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png);
    margin-bottom: 20px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}

#app{
    display: flex;
    align-items: center;
    position: relative;
}

#pic7{
    height: 30px;
    width: 30px;
    background-color:blue;
    background-image: url(https://play-lh.googleusercontent.com/FA5YhzpdM0oOj_HdhipnCE7S4xOe_c4A5ODlm7gx4AP-xHhtT0cYMnZsekIKJvTknqs=s180);
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}

.lk2{ 
    position: absolute;
    display: flex;
    left:40px;
    top: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.lk2 h5{
    font-size: 10px;
}
.lk2 h6{
    font-size: 5px;
  color: rgba(5, 26, 88, 0.521);
  font-weight: 500;
  margin-top: 2px;
}

.pca{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    left: 70%;
    font-size: 12px;
}
#pca1{
    color: rgba(101, 221, 101, 0.822);
    margin-bottom: 40px;

}

#pca2{
    color: rgb(209, 7, 7);
    margin-bottom: 40px;
}

#pca3{
    color: orange;
    margin-bottom: 40px;
}

#cir{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 15%;
    left: 30%;
    background-image: url(./Group\ 2.png);
    background-position: center;
    background-size: cover;
}

#fin{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 170px;
    top: 23%;
    left: 60%;
    border-radius: 20px;
    background: linear-gradient(to  left,rgb(153, 153, 253), rgb(252, 159, 212));
}
#fin p{
    color: #fff;
    margin-top: 1px;
}
#fin #a{
    color: rgba(255, 255, 255, 0.726);
    margin-bottom: 5px;
}
#fin #b{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 5px;
}
#fin #c{
    color: rgba(255, 255, 255, 0.884);
    font-weight: 900;
}
#fin #d{
    position: absolute;
    top: 88%;
    left: 70%;
    font-size: 6px;
    color: rgba(255, 255, 255, 0.836);
}